#about_me{
  padding: 33vh 10vw 33vh 10vw;
  max-width: 1170px;
  align-self: center;
}

.about_me_color_text{
  color: rgb(78, 47, 142);
  margin-bottom: 20px;
  width: fit-content;
  font-size: 25px;
  line-height: 38px;
  font-weight: 500;
}

.about_me_hero{
  color: rgb(253,251,248);
  width: fit-content;
  margin-bottom: 40px;
}

#about_me_body{
  color: rgb(191, 190, 187);
  line-height: 40px;
  /* text-align: justify; */
}


.grower{
  position: absolute;
  /* animation: growOut 1s ease infinite paused reverse; */
}

@keyframes growOut {
  0% {
    width: 0px;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 0px;
  }
}

@keyframes boarder {
  0% {
    width: 0%;
    height: 0%;
    transform: translate(5vw, 15vh) rotate(225deg);
  }
  50% {
    width: 25px;
    height: 25px;
    border-bottom: 4px solid rgb(78, 47, 142);
    border-left: 4px solid rgb(235, 64, 52);
  }
  100% {
    width: 0%;
    height: 0%;
    transform: translate(0vw, 20vh)
  }
}

#a_1{
  right: 7vw;
  background: linear-gradient(to left, rgb(235, 64, 52), rgb(78, 47, 142));
  width: 0;
  height: 5px;
  animation: growOut 1s ease infinite paused reverse;
}

#a_2{
  left: 7vw;
  transform: translate(0vw, 15vh) rotate(225deg);
  animation: boarder 1s ease infinite paused reverse;
  background: linear-gradient(225deg, rgb(235, 64, 52), rgb(78, 47, 142));
  border-radius: 10% 5% 10% 5%;
}

/* 
@media (max-width: 633px) {
  #about_me_body{
    line-height: 45px;
  }
} */



@media only screen and (max-width: 1000px) {
  #about_me_body{
    line-height: 55px;
  }

  .about_me_hero{
    margin-bottom: 80px;
  }

  .about_me_color_text{
    margin-bottom: 40px;
  }
}