/* poker */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#poker_thumbnail{
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgb(18,18,18);
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family: header_font;
    justify-content: space-between;
    position: relative;
    transition: all 0.2s ease;
    height: 245px;
    width: calc(100% - 4px);
}

.poker_blurb{
    font-size: 5px;
    font-weight: 10;
}

#poker_top{
    display: flex;
    justify-content: space-between;
}

#poker_top a{
    display: flex;
}

#poker_top a img{
    margin: 15px 15px 0px 30px;
    width: 50px;
    height: 50px;
}

#poker_github_blurb{
    width: 50px;
    margin-top: 25px;
    text-decoration: none;
    color: var(--white);
    border: none;
}


#poker_art_line1{
    position: absolute;
    top: 30px;
    left: 45%;
    width: 25px;
    height: 0.5px;
    background-color: var(--white);
    transition: all 0.2s ease;
}

#poker_art_line2{
    position: absolute;
    top: 36px;
    left: 45%;
    width: 25px;
    height: 0.5px;
    background-color: var(--white);
    transition: all 0.2s ease;
}

#poker_thumbnail:hover #poker_art_line1{
    transform: rotate(-45deg);
}

#poker_thumbnail:hover #poker_art_line2{
    transform: rotate(45deg);
}


#poker_top_right{
    margin: 20px 40px;
}


#poker_top_right_art{
    margin-top: 10px;
    display: flex;
}

.poker_art_circle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#poker_cir1{
    background-color: var(--red);
    transition: all 0.2s ease;
}

#poker_cir2{
    background-color: var(--purple);
    transition: all 0.2s ease;
}

#poker_thumbnail:hover #poker_cir1{
    background-color: var(--purple);
}

#poker_thumbnail:hover #poker_cir2{
    background-color: var(--red);
}

#poker_top_right_art h4{
    margin-left: 10px;
}

#poker_bottom{
    margin: 0px 0px 20px 30px;
    position: absolute;
    top: 40%;
    width: 40%;
}

#poker_bottom h1{
    margin-bottom: 10px;
    font-size: 46px;
    line-height: 48px;
}

/* stg sign up */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#sigtau_thumbnail{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: header_font;
    justify-content: space-between;
    position: relative;
}

#sigtau_thumbnail a{
    position: absolute;
    left: 30px;
    top: 15px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(871%) hue-rotate(342deg) brightness(96%) contrast(86%);
}

#stg_github_blurb{
    width: 60px;
}

.stg_blurb{
    font-size: 5px;
    line-height: 10px;
}

#sigtau_thumbnail h1{
    margin: 20px 0px 0px 0px;
    align-self: end;
    font-size: 46px;
    line-height: 48px;
    width: 40%;
}

#stg_bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0px 40px;
}

#stg_bottom h3{
    color: var(--white);
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

#sigtau_thumbnail:hover #stg_bottom h3{
    font-weight: 1000;
    padding: 15px 20px;
}

#stg_art_container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#stg_art{
    position: relative;
    width: 1px;
    height: 1px;
    left: 40%;
    top: -10px;
}

.stg_art_sub{
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--black);
    top: 10%;
    left: 10%;
    transform-origin: center;
    animation: rotate 10s linear infinite;
    animation-delay: calc(var(--i) * -1s);
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(50px);
    }
    100% {
        transform: rotate(360deg) translateX(50px);
    }
}

/* pool */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#pool_thumbnail{
    background-color: var(--black);
    border: 1px solid var(--lightgrey);
    display: flex;
    flex-direction: column;
    font-family: header_font;
    position: relative;
}

.pool_row{
    height: 40.833333px;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    display: flex;
}

.last_row{
    border-bottom: 1px solid transparent;
}

.pool_row div{
    width: calc(100% / 7);
    height: 100%;
    border: 1px solid var(--purple);
    background-color: var(--black);
}

#pool_hero h1{
    color: white;
    font-size: 46px;
    line-height: 48px;
    width: calc(300% / 7 - 22px);
    height: calc(40.9px * 3 - 21px);
    position: absolute;
    left: calc(100% / 7 + 1px);
    top: 42px;
    background-color: var(--black);
    padding: 10px;
}

#pool_thumbnail a {
    position: absolute;
    left: 30px;
    top: 15px;
}

.pool_description{
    color: var(--white);
    position: absolute;
    width: calc(300% / 7 - 2px);
    height: 39.9px;
    left: calc(400% / 7 + 1px);
    top: calc((42px - 0.5px) * var(--i));
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.pool_description h3{
    align-self: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
}

.pool_line_art{
    position: absolute;
    height: 40.833333px;
    width: 1px;
    background-color: var(--purple);
    left: calc(600% / 7 - 0.5px);
    top: calc(40.833333px / 2 + 0.5px);
    transform: rotate(calc(var(--j) * 1deg));
    transition: all 0.2s ease;
}

#pool_thumbnail:hover .pool_line_art{
    transform: rotate(calc(var(--j) * 0.5deg));
    background-color: var(--white);
}
 
/* wordle wizard */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#wordlewizard_thumbnail{
    background-color: var(--white);
    display: flex;
    position: relative;
    font-family: header_font;
    justify-content: end;
}

#wordlewizard_thumbnail a{
    position: absolute;
    left: 30px;
    top: 15px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(871%) hue-rotate(342deg) brightness(96%) contrast(86%);
    display: flex;
}

#wordlewizard_thumbnail a h4{
    font-size: 5px;
    /* line-height: 10px; */
    align-self: center;
    margin-left: 10px;
    width: 80px;
}

.ww_sub{
    /* width: 50%; */
    /* height: 100%; */
    display: flex;
}

#ww_left{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0px 0 30px 30px;
    bottom: 0%;
    left: 0%;
}

#ww_left h2{
    font-size: 46px;
    line-height: 48px;
}

#ww_left h4{
    font-size: 46px;
    line-height: 48px;
}


#ww_right{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: space-between;
}


#ww_right h3{
    /* align-self: end; */
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 5px;
    transition: all 0.2s ease;
    text-align: center;
    /* margin-bottom: 15px; */
}

#wordlewizard_thumbnail:hover #ww_right h3{
    padding: 10px 30px;
}

.ww_line_art{
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: var(--black);
    transform: rotate(45deg);
}



#ww_line_art1{
    animation: ww_line_move1 6s linear infinite;
}

@keyframes ww_line_move1 {
    0% {
        left: -1900px;
        top: -2200px;
    }
    100% {
        left: 2000px;
        top: 1700px;
    }
}

#ww_line_art2{
    animation: ww_line_move2 4s linear infinite;
}

@keyframes ww_line_move2 {
    0% {
        left: -1600px;
        top: -1700px;
    }
    100% {
        left: 1700px;
        top: 1600px;
    }
}

/* long */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#long_thumbnail{
    background-color: var(--white);
    position: relative;
    font-family: header_font;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

#long_thumbnail a{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(871%) hue-rotate(342deg) brightness(96%) contrast(86%);
    position: absolute;
    left: 30px;
    top: 15px;
}


#long_thumbnail h1{
    font-size: 46px;
    line-height: 48px;
    margin: 85px 0px 0px 30px;
}

#long_cir_container{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
}

#long_cir_container div{
    background-color: var(--black);
    width: 15px;
    height: 15px;
    border-radius: 50% 25% 50% 25%;
    align-self: center;
    transition: all 0.2s ease;
}

#long_cir_container h4{
    font-size: 5px;
    line-height: 5px;
    font-weight: 200;
    align-self: center;
    margin: 0px 5px;
}

#long_info_container{
    margin: 60px 0px 0px 30px;
}

#long_info_container h2{
    border-bottom: 1px solid var(--black);
    margin-bottom: 20px;
    padding-bottom: 10px;
    transition: all 0.2s ease;
}

#long_thumbnail:hover #long_info_container h2{
    font-weight: 1000;
}

#long_moving_text{
    position: absolute;
    text-wrap: nowrap;
    transform: rotate(-45deg);
    /* right: 100px;
    bottom: -220px; */
    animation: move_long_text 8s linear infinite;
}

#long_moving_text_top{
    position: absolute;
    text-wrap: nowrap;
    transform: rotate(45deg);
    right: -200px;
    top: -160px;
    animation: move_long_text_top 6s linear infinite;
}


@keyframes move_long_text {
    0% {
        right: -450px;
        bottom: 0px;
    }

    100% {
        right: -177px;
        bottom: -273px;
    }
}

@keyframes move_long_text_top {
    0% {
        right: -200px;
        top: -160px;
    }

    100% {
        right: -395px;
        top: 35px;
    }
}

#long_thumbnail:hover #long_cir_container div{
    border-radius: 0%;
}

/* connect four */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#connect_four_thumbnail{
    background-color: var(--black);
    border: 1px solid var(--lightgrey);
    font-family: header_font;
    color: var(--white);
    position: relative;
}

#connect_four_thumbnail a{
    position: absolute;
    left: 30px;
    top: 15px;
}

#connect_four_thumbnail h1{
    font-size: 46px;
    line-height: 48px;
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: calc(100% - 80px);
    text-align: end;
    border-top: 1px solid var(--lightgrey);
    padding-top: 20px;
}

#cf_info_container{
    position: absolute;
    left: 100px;
    top: 15px;
    display: flex;
    flex-direction: column;
}

.cf_line_art{
    position: absolute;
    top: 15px;
    width: 1px;
    height: calc(var(--e) * 15px + 30px);
    background-color: var(--lightgrey);
    right: calc(var(--e) * -6px + 60px);
    transition: all 0.2s ease;
}

#connect_four_thumbnail:hover .cf_line_art{
    height: 75px;
}

#cf_cir_container{
    position: absolute;
    left: 30px;
    bottom: 40px;
    width: 125px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

#cf_cir_container div{
    height: 100%;
    background-color: var(--purple)
}

#cf_cir1{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(-90deg, var(--purple), var(--red));
    width: 30%;
}

#cf_cir2{
    border-radius: 50%;
    background: linear-gradient(180deg, var(--purple), var(--red));
    width: 38%;
}

#cf_cir3{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(90deg, var(--purple), var(--red));
    width: 30%;
}

/* time four */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#time{
    background-color: var(--red);
    font-family: header_font;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#time h1{
    font-size: 50px;
    line-height: 52px;
    align-self: center;
    /* margin-bottom: 30px; */
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    /* width: 70.5%; */
    font-family: normal_font;
}

#time h2{
    font-size: 36px;
    line-height: 38px;
    align-self: center;
    font-weight: 400;
    margin: 60px 0px 10px 0px;
    /* margin: 30px 0px 0px 30px; */
}

.time_blurb{
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    position: absolute;
}

#time_blurb_left{
    left: 5px;
    bottom: 5px;
}

#time_blurb_right{
    right: 5px;
    bottom: 5px;
    transition: all 0.2s ease;
}

#time:hover #time_blurb_right{
    right: calc(100% - 203px);
}