#projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  /* min-height: 100vh; */
  position: relative;
}

#projects_header_container{
  align-self: center;
  padding: 40px 80px;
}

#projects_hero{
  color: rgb(253,251,248);
  margin-top: 20px;
  /* border-bottom: 1px solid rgb(253,251,248); */
}

#projects_hero_sub{
  color: rgb(78, 47, 142);
  font-size: 25px;
  line-height: 38px;
  font-weight: 500;
  /* border-bottom: 1px solid rgb(253,251,248); */
}


#projects_signature{
  font-family: signature_font !important;
  color: rgb(253,251,248);
  align-self: center;
  padding-bottom: 40px;
  font-weight: 100;
} 


/* //////////////////////////////////////////////////////////////////////////////* /* //////////////////////////////////////////////////////////////////////////////* 
//////////////////////////////////////////////////////////////////////////////* ///////////////////////////////////////////////////////////////////////////// */


#project_thumbnails{
  display: flex;
  justify-content: space-between;
  padding: 40px 10vw 40px 10vw;
  margin: 40px 0px;
  width: 100vw;
  max-width: 1170px;
  align-self: center;
}

.projects_container{
  width: calc(50% - 5px);
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
}


.thumbnail{
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  backdrop-filter: grayscale(10);
  transition: all 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  height: 500px;
  z-index: 1;
  /* border: 0.5px solid rgb(253,251,248, 0.3); */
}

.thumbnail_large_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail_large_container .thumbnail_mid{
  background-color: rgb(30,30,30);
  height: 500px;
  width: calc(50% - 5px);
}

.thumbnail_large_container .thumbnail_mid_container{
  height: 500px;
  width: calc(50% - 5px);
  flex-direction: column;
}

.thumbnail_large_container .thumbnail_small{
  height: 245px;
  width: 100%;
  margin: 0;
}

.thumbnail_large{
  background-color: rgb(30,30,30);
}

.thumbnail_mid{
  background-color: rgb(30,30,30);
  height: 245px;
  position: relative;
}

.thumbnail_mid_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail_small{
  background-color: rgb(30,30,30);
  width: calc(50% - 5px);
  height: 245px;
}



@media (max-width: 1350px) {
  #projects_signature{
    padding-bottom: 20px
  }
}

@media (max-width: 1300px) {
  #project_thumbnails{
    justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  .projects_container{
    width: calc(50% - 20px);
  }

  #left_projects_container{
    margin-right: 10px;
  }

  #pool_hero h1{
    height: calc(40.9px * 4 - 21px) !important;
  }
}

@media (max-width: 1200px) {
  #project_thumbnails{
    flex-direction: column;
    width: calc(50% - 20px);
    min-width: 575px;
  }
  .projects_container{
    width: calc(100% - 10px);
  }
}

.thumbnail_header{
  color: rgb(253,251,248);
  width: 80%;
  font-size: 46px;
  margin: 20px 0px 20px 40px;
  /* font-weight: 300; */
  text-align: left;
  transition: all 0.3s ease;
  z-index: 1;
}

.thumbnail_header2{
  font-size: 24px;
  margin: 0px 0px 10px 40px;
  color: rgb(18,18,18);
  background-color: rgb(253,251,248);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 24px;
}

.thumbnail a{
  z-index: 2;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_1{
  display: flex;
  background-color: var(--red);
  /* border: 1px solid var(--lightgrey); */
  transition: all 0.3s ease;
  font-family: header_font;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

#small1_blurb_top{
  display: flex;
  justify-content: space-around;
}

#small1_blurb_top h5{
  font-size: 8px;
  line-height: 10px;
  padding: 5px 0px 10px 0px;
  font-weight: 200;
}

#small_1 h1{
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  /* font-weight: 1000; */
  transition: all 0.2s ease;
}

#small_1:hover h1{
  font-weight: 400;
}

.small1_bottom_sub{
  width: 50%;
  flex: 1;
  border-left: 1px solid var(--black);
  align-self: end;
  position: relative;
}

#small1_bottom_about{
  width: calc(50% - 5px);
  /* border-bottom: 1px solid var(--black); */
  font-size: 8px;
  line-height: 10px;
  font-weight: 200;
  padding: 5px 0px 0px 5px;
}

#small1_bottom_about::after {
  content: '';
  position: absolute;
  left: -50%;
  bottom: 0px;
  width: calc(150%);
  border-bottom: 1px solid var(--black);
}

#small1_age{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#small1_age h3{
  font-size: 36px;
  text-align: center;
  transition: all 0.2s ease;
}

#small_1:hover #small1_age h3{
  font-weight: 1000;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_2{
  display: flex;
  background-color: var(--black);
  border: 1px solid var(--lightgrey);
  transition: all 0.3s ease;
  flex-direction: column;
  font-family: header_font;
  width: calc(50% - 7px);
  height: 243px;
}

#small_2 h3{
  margin-left: 10px;
  font-size: 29px;
  line-height: 49px;
  text-wrap: nowrap;
  transition: all 0.2s ease;
}

.small2_list_soft{
  color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
}

.small2_list_strong{
  color: var(--white);
  font-weight: 800;
}

#small_2:hover .small2_list_soft{
  font-weight: 200;
}

/* url(https://grainy-gradients.vercel.app/noise.svg) */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_3{
  background: rgb(78, 47, 142);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#small_3 .hero{
  transition: all 0.3s ease;
  color: rgb(78, 47, 142);
  font-size: 16px;
  line-height: 16px;
  width: fit-content;
  padding: 5px 40px;
  margin: 20px 10px;
  background-color: rgb(253,251,248);
  border-radius: 10px;
}

#small3_bottom_container{
  display: flex;
  flex-direction: column;
}


#small_3 #loading_bar{
  background-color: rgb(18,18,18, 0.5);
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 10px;
  align-self: center;
  margin: 20px 0px;
}

#small_3 #loading_bar{
  background-color: rgb(18,18,18, 0.5);
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 10px;
  align-self: center;
  margin: 20px 0px;
  z-index: 1;
  transition: all 0.2s ease;
}

#small_3 #loading_bar_progress{
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background: rgb(253,251,248);
  z-index: 2;
  transition: all 0.2s ease;
}

#info_small3_container{
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

#info_small3_container h2{
  color: rgb(253,251,248);
  font-size: 28px;
  line-height: 30px;
  margin: 0px 10px;
  font-family: header_font;
  transition: all 0.2s ease;
}

#small_3:hover h2{
  font-weight: 1000;
}
#small_3:hover .hero{
  padding: 10px 40px;
  font-weight: 1000;
}
#small_3:hover #loading_bar{
  height: 24px;
}

#small_3:hover #loading_bar_progress{
  height: 24px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

:root {
  --small4-width: 0px;
}

#small_4{
  background-color: rgb(235, 64, 52);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

#small_4 div{
  height: 49px;
  text-wrap: nowrap;
  color: rgb(18,18,18);
  position: relative;
  transition: all 0.2s ease;
}

.small4_left_containter{
  align-self: start;
}

.small4_right_containter{
  align-self: end;
}
#small_4 .hero{
  position: absolute;
  font-size: 49px;
  line-height: 49px;
  transition: all 0.2s ease;
}

#small_4 .small4_left{
  animation: left_first 10s ease infinite;
}

#small_4 .small4_right{
  animation: right_first 10s ease infinite;
}

@keyframes left_first {
  0% {
    left: 0%;
  }
  50% {
    left: calc(var(--small4-width) - 100%);
  }
  100% {
    left: 0%;
  }
}

@keyframes right_first {
  0% {
    right: 0%;
  }
  50% {
    right: calc(var(--small4-width) - 100%);
  }
  100% {
    right: 0%;
  }
}

#small_4:hover .hero{
  font-weight: 400;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#small_5{
  background-color: var(--black);
  border: 1px solid var(--lightgrey);
  position: relative;
}

#small_5 a{
  position: absolute;
  left: 30px;
  top: 15px;
  z-index: 2;
}

#small5_color{
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 22px);
  background-color: var(--purple);
  z-index: 0;
}

.small5_star{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 30px;
  z-index: 1;
  transition: all 0.2s ease;
}

#small_5:hover .small5_star{
  border-radius: 40px;
}

#small5_star_1{
  right: 55px;
  bottom: calc(100% - 110px);
}

#small5_star_2{
  left: calc(100% - 55px);
  bottom: calc(100% - 110px);
}

#small5_star_3{
  left: calc(100% - 55px);
  top: 110px;
}

#small5_star_4{
  right: 55px;
  top: 110px;
}

#small_5 h1{
  font-family: header_font;
  position: absolute;
  color: white;
  z-index: 2;
  right: 30px;
  bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  width: 75%;
  text-align: end;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_6{
  background-color: var(--purple);
} 

#night_sky{
  width: 100%;
  transition: all 0.2s ease;
}