#projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  /* min-height: 100vh; */
  position: relative;
}

#projects_header_container{
  align-self: center;
  padding: 40px 80px;
}

#projects_hero{
  color: rgb(253,251,248);
  margin-top: 20px;
  /* border-bottom: 1px solid rgb(253,251,248); */
}

#projects_hero_sub{
  color: rgb(78, 47, 142);
  font-size: 25px;
  line-height: 38px;
  font-weight: 500;
  /* border-bottom: 1px solid rgb(253,251,248); */
}


#projects_signature{
  font-family: signature_font !important;
  color: rgb(253,251,248);
  align-self: center;
  padding-bottom: 40px;
  font-weight: 100;
} 




/* //////////////////////////////////////////////////////////////////////////////* /* //////////////////////////////////////////////////////////////////////////////* 
//////////////////////////////////////////////////////////////////////////////* ///////////////////////////////////////////////////////////////////////////// */


#project_thumbnails{
  display: flex;
  justify-content: space-between;
  padding: 40px 10vw 40px 10vw;
  margin: 40px 0px;
  width: 100vw;
  max-width: 1170px;
  align-self: center;
}

.projects_container{
  width: calc(50% - 5px);
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
}


.thumbnail{
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  backdrop-filter: grayscale(10);
  transition: all 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  height: 500px;
  /* border: 0.5px solid rgb(253,251,248, 0.3); */
}

.thumbnail_large_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail_large_container .thumbnail_mid{
  background-color: rgb(30,30,30);
  height: 500px;
  width: calc(50% - 5px);
}

.thumbnail_large_container .thumbnail_mid_container{
  height: 500px;
  width: calc(50% - 5px);
  flex-direction: column;
}

.thumbnail_large_container .thumbnail_small{
  height: 245px;
  width: 100%;
  margin: 0;
}

.thumbnail_large{
  background-color: rgb(30,30,30);
}

.thumbnail_mid{
  background-color: rgb(30,30,30);
  height: 245px;
  position: relative;
}

.thumbnail_mid_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail_small{
  background-color: rgb(30,30,30);
  width: calc(50% - 5px);
  height: 245px;
}

@media (max-width: 1350px) {
  #projects_signature{
    padding-bottom: 20px
  }
}

@media (max-width: 1300px) {
  #project_thumbnails{
    justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  .projects_container{
    width: calc(50% - 20px);
  }

  #left_projects_container{
    margin-right: 10px;
  }
}

.thumbnail_header{
  color: rgb(253,251,248);
  width: 80%;
  font-size: 46px;
  margin: 20px 0px 20px 40px;
  /* font-weight: 300; */
  text-align: left;
  transition: all 0.3s ease;
  z-index: 1;
}

.thumbnail_header2{
  font-size: 24px;
  margin: 0px 0px 10px 40px;
  color: rgb(18,18,18);
  background-color: rgb(253,251,248);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 24px;
}

.thumbnail:hover{
  background-color: rgb(40,40,40);
}

.thumbnail_img{
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}


/* .thumbnail:hover img{
  filter: brightness(45%) grayscale(0%);
} */


.thumbnail_github_link{
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_1{
  display: flex;
  background-color: var(--purple);
  /* border: 1px solid var(--lightgrey); */
  transition: all 0.3s ease;
}

#small_2{
  display: flex;
  background-color: var(--red);
  transition: all 0.3s ease;
}


/* url(https://grainy-gradients.vercel.app/noise.svg) */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_3{
  background: rgb(78, 47, 142);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#small_3 .hero{
  transition: all 0.3s ease;
  color: rgb(78, 47, 142);
  font-size: 16px;
  line-height: 16px;
  width: fit-content;
  padding: 5px 40px;
  margin: 20px 10px;
  background-color: rgb(253,251,248);
  border-radius: 10px;
}

#small3_bottom_container{
  display: flex;
  flex-direction: column;
}


#small_3 #loading_bar{
  background-color: rgb(18,18,18, 0.5);
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 10px;
  align-self: center;
  margin: 20px 0px;
}

#small_3 #loading_bar{
  background-color: rgb(18,18,18, 0.5);
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 10px;
  align-self: center;
  margin: 20px 0px;
  z-index: 1;
  transition: all 0.2s ease;
}

#small_3 #loading_bar_progress{
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background: rgb(253,251,248);
  z-index: 2;
  transition: all 0.2s ease;
}

#info_small3_container{
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

#info_small3_container h2{
  color: rgb(253,251,248);
  font-size: 28px;
  line-height: 30px;
  margin: 0px 10px;
  font-family: header_font;
  transition: all 0.2s ease;
}

#small_3:hover h2{
  font-weight: 1000;
}
#small_3:hover .hero{
  padding: 10px 40px;
  font-weight: 1000;
}
#small_3:hover #loading_bar{
  height: 24px;
}

#small_3:hover #loading_bar_progress{
  height: 24px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

:root {
  --small4-width: 0px;
}

#small_4{
  background-color: rgb(235, 64, 52);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

#small_4 div{
  height: 49px;
  text-wrap: nowrap;
  color: rgb(18,18,18);
  position: relative;
  transition: all 0.2s ease;
}

.small4_left_containter{
  align-self: start;
}

.small4_right_containter{
  align-self: end;
}
#small_4 .hero{
  position: absolute;
  font-size: 49px;
  line-height: 49px;
  transition: all 0.2s ease;
}

#small_4 .small4_left{
  animation: left_first 10s ease infinite;
}

#small_4 .small4_right{
  animation: right_first 10s ease infinite;
}

@keyframes left_first {
  0% {
    left: 0%;
  }
  50% {
    left: calc(var(--small4-width) - 100%);
  }
  100% {
    left: 0%;
  }
}

@keyframes right_first {
  0% {
    right: 0%;
  }
  50% {
    right: calc(var(--small4-width) - 100%);
  }
  100% {
    right: 0%;
  }
}

#small_4:hover .hero{
  font-weight: 400;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#small_5{
  background-color: var(--black);
  border: 1px solid var(--lightgrey);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#small_6{
  background-color: var(--purple);
}