


#top_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#nav_bar_wrapper{
  height: fit-content;
  background: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#nav_bar{
  height: fit-content;
  background: transparent;
  display: flex;
  justify-content: space-between;
  /* padding: 20px 40px 20px 30px; */
  /* border: 0.5px solid rgb(253,251,248); */
  border-radius: 10px;
  width: min(75%, 1250px);
  margin: 5% 40px;
}


#signature{
  font-family: signature_font !important;
  color: rgb(253,251,248);
  align-self: center;
  background-color: transparent;
  line-height: 24px;
  font-size: 24px;
  height: fit-content;
}

#logo{
  width: 60px;
}



.link_icon{
  margin: 0px 10px;
  cursor: pointer;
  width:50px;
  height:50px;
  color: transparent;
}

.link_icon img{
  height:50px;
  width:50px;
}

#email_icon{
  filter: invert(100%) sepia(13%) saturate(305%) hue-rotate(346deg) brightness(100%) contrast(98%);
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#flow_canvas{
  align-self: center;
  width: 100%;
  height: 100%;
}

#hero_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}


#hero_name {
  color: rgb(253,251,248);
  margin-bottom: 10px;
}

#hero_dynamic {
  background: linear-gradient(135deg, rgb(78, 47, 142), rgb(235, 64, 52));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 72px;
  height: 72px;
}

.typing_animation {
  border-right: .05em solid #4E2F8E; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding-right: 5px;
  animation: 
    blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4E2F8E; }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.arrow {
  position: absolute;
  bottom: 10%;
  right: 10%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  width: 43px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid rgb(253,251,248);
  border-right: 1px solid rgb(253,251,248);
  transform: rotate(45deg);
  animation: animate 6s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.5s;
}

.arrow span:nth-child(3) {
  animation-delay: -1s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-50px, -50px);
      align-self: center;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(50px 50px);
  }
}
