
#container {
    color: var(--white);
    background-color: var(--black);
    position: relative;
}

#top_container a{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(871%) hue-rotate(342deg) brightness(96%) contrast(86%);
}

#container_sub{
    z-index: 1;
    width: 100vw;
}

#back_arrow_container{
    border: 2px solid var(--white);
}

#back_arrow_container h2{
    color: var(--white);
}


#top_container{
    justify-content: center;
}