#container {
    color: var(--white);
    background-color: var(--black);
}

#back_arrow_container{
    border: 2px solid var(--white);
}

#bottom_container button{
    background-color: black;
    color: var(--white);
    position: relative;
    border: 1px solid var(--white);
    background:  transparent;
}

#back_arrow_container h2{
    color: var(--white);
}

.cf_line_art{
    position: absolute;
    top: 50px;
    width: 1px;
    height: calc(var(--e) * 15px + 30px);
    background-color: var(--lightgrey);
    right: calc(var(--e) * -6px + 100px);
    transition: all 0.2s ease;
}

#connect_four_thumbnail:hover .cf_line_art{
    height: 75px;
}