
#container {
    color: var(--black);
    background-color: var(--white);
    position: relative;
}

#top_container a{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(871%) hue-rotate(342deg) brightness(96%) contrast(86%);
}

#container_sub{
    z-index: 1;
}

#back_arrow_container{
    border: 2px solid var(--black);
}

#mid_p_top{
    padding: 10px 10px 20px 10px;
    margin: 20px 40px 0px 0px;
}

#mid_p_bottom{
    padding: 10px;
}

#bottom_container button{
    color: var(--black);
    position: relative;
    border: 2px solid var(--black);
    background-color: transparent;
}

#back_arrow_container h2{
    color: var(--black);
}

#stg_art_container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#stg_art{
    position: relative;
    width: 1px;
    height: 1px;
    left: 40%;
    top: -10px;
}

.stg_art_sub{
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--black);
    top: 10%;
    left: 10%;
    transform-origin: center;
    animation: rotate 10s linear infinite;
    animation-delay: calc(var(--i) * -1s);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(50px);
    }
    100% {
        transform: rotate(360deg) translateX(50px);
    }
}