
#container {
    color: var(--white);
    background-color: var(--purple);
    position: relative;
}

#container_sub{
    z-index: 1;
}

#back_arrow_container{
    border: 2px solid var(--white);
}

#mid_p_top{
    padding: 10px 10px 20px 10px;
    margin: 20px 40px 0px 0px;
}

#mid_p_bottom{
    padding: 10px;
}

#bottom_container button{
    color: var(--white);
    position: relative;
    border: 1px solid var(--white);
    background-color: transparent;
}

#back_arrow_container h2{
    color: var(--white);
}



#calc_bottom_blurb{
    width: 17%;
    position: absolute;
    transform-origin: center;
    transform: rotate(-90deg);
    right: 100px;
    bottom: 200px;
}

.calc_bottom_blurb_square{
    position: absolute;
    left: 55px;
    top: calc(var(--i)*45px + 25px);
    transform: translate(-50%, 0%);
    background-color: var(--red);
    width: 20px;
    height: 20px;
    border-radius: 1px;
    animation: calc_rotate 10s ease infinite;
}

@keyframes calc_rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#calc_bottom_blurb_line{
    position: absolute;
    left: -35px;
    top: 265px;
    transform: rotate(90deg);
    background-color: var(--white);
    width: 200px;
    height: 1px;
}

@media (max-width: 850px){
    #calc_bottom_blurb{
        display: none;
    }
}